/doc/
/lib/
/bin/
/.shards/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

/http_proxy
/.mitm-certs/

# Local MITM certificates/keys (generated for manual testing)
/mitm-ca.crt
/mitm-ca.key
/mitm-ca.srl
/mitm.crt
/mitm.key
/mitm.csr
/mitm.ext
